<div class="container-comprobante" *ngIf="showComprobante">
  <div class="container-instruccion">
      <img src="../../../assets/media/check.svg" alt="icon-check">
    <h2>¡Cambiaste la instrucción!</h2>

  </div>
    <div class="head">
      <div>
        <img class="icon" src="../../assets/media/IconSnatnder.svg" alt="Icon Santander">
      </div>
      <div>
        <p class="text-comprobante">Comprobante</p>
      </div>
      <div>
        <svg class="close" (click)="infoComprobante.emit({totalUserSelect,fecha,datosUsuariosSeleccionados})" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M18.8514 4C19.1559 4 19.4478 4.12165 19.6622 4.33791C20.105 4.78349 20.105 5.5031 19.6622 5.94867L13.616 11.9977L19.6622 18.0465C19.8784 18.261 20 18.553 20 18.8576C20 19.1622 19.8784 19.4542 19.6622 19.6687C19.4467 19.8825 19.155 20.0017 18.8514 20C18.5479 20.0017 18.2562 19.8825 18.0407 19.6687L11.9943 13.6194L5.95929 19.6572C5.74567 19.8753 5.4537 19.9987 5.14853 20C4.84501 20.0017 4.55328 19.8825 4.33778 19.6687C4.1216 19.4542 4 19.1622 4 18.8576C4 18.553 4.1216 18.261 4.33778 18.0465L10.3771 12.0034L4.33778 5.9601C3.89001 5.51214 3.89001 4.78587 4.33778 4.33791C4.78554 3.88996 5.51152 3.88996 5.95929 4.33791L12 10.3806L18.0407 4.33791C18.2551 4.12165 18.547 4 18.8514 4Z" fill="#EC0000"/>
        </svg>
      </div>
    </div>
      <div id="cont-category">
        <p>Solicitaste con éxito {{totalUserSelect}} tarjeta(s) de Crédito</p>
      </div>
    <div  class="modal-content">
      <div class="description" id="tarjeta">
        <p class="nombre">Fecha y hora de operación</p>
        <h2 class="accion">{{fecha}}</h2>
      </div>
      <div class="description" id="periodo">
        <p class="nombre">Folio</p>
        <h2 class="accion">Z1234566</h2>
      </div>
      <div class="description" id="area">
        <p class="nombre">Tipo de producto</p>
        <h2 class="accion">Tarjetas de crédito</h2>
      </div>
    </div>
    <div class="cont-cargar">
      <div class="cont-cargar" (click)="exportarCSV()">
      <div id="carga">
        <img src="../../assets/media/_Core Circle.svg" alt="">
        <p>Descargar el comprobante</p>
      </div>
      </div>
    </div>
</div>
<div class="background-overlay" *ngIf="showComprobante"></div>
