/*NO. TARJETA*/
.box-notarjeta{
  width: 100%;
  cursor: pointer;
}
.cont_title{
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px 5px 10px 5px;
}
.cont_title p{
  font-size: 16px;
  font-weight: 700;

}

.search-notarjeta{
  width: 100%;
  position: relative;
  display: flex;
  padding: 8px 10px;
  align-items: center;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  margin-bottom: 5px;
}
.search-notarjeta:hover{
  background: #F2F2F2;
  border: 1px solid #F2F2F2;
}
#search_img{
  position: absolute;
  right: 0;
  cursor: pointer;
}
#search_img{
  margin-right: 7px;
}

#info-notarjeta {
  margin-left: 10px;
}
#info-notarjeta p{
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}
#info-notarjeta h2{
  font-size: 14px;
  font-weight: 700;
}
.selected{
  background: #F2F2F2;
  border: 1px solid #F2F2F2;
}
