<!--<button flameButton color="primary">Default</button>
<div>
  {{title}}
</div>
-->
<div class="barra"></div>

<div class="container">
  <app-menu></app-menu>
  <section class="main">
    <app-encabezado></app-encabezado>
    <!--<app-contenido [nom]="hero" (liked)="onLike"></app-contenido>-->
    <!--<app-contenido [titulo]="title" (liked)="onLike($event)"></app-contenido>-->
<!-- <app-modal-export [showModal]="showModal" (closeModal)="closeModal()"></app-modal-export>
    <button (click)="openModal()">Abrir Modal</button>-->
    <!--<app-contenido></app-contenido>-->

    <router-outlet></router-outlet>

  </section>
</div>
