.contenido{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 10px;
}
.container-scroll{
  width: 100%;
  height: 40em;
  overflow: scroll;
}
.container-asignadas {
  background-color: #ffffff;
  margin-top: 38px;
  border-radius: 15px 15px 15px 15px;
  padding: 20px;
}
.pendiente{
  width: 100%;
  background: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  margin-bottom: 10px;
}
.modifi-pendiente{
  border-radius: 8px 8px 0px 0px;
}

.status{
  font-size: 14px;
  font-weight: 700;
}
.status-realizado{
  font-size: 14px;
  font-weight: 700;
}
.status-enviadas{
  font-size: 14px;
  font-weight: 700;
}
.rotated{
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.divisor{
  font-size: 12px;
  font-weight: 400;
  margin: 0px 5px 0px 5px;
}
.divisor-realizado{
  font-size: 12px;
  font-weight: 400;
  margin: 0px 5px 0px 5px;
}
.divisor-enviadas{
  font-size: 12px;
  font-weight: 400;
  margin: 0px 5px 0px 5px;
}
.length{
  font-size: 12px;
  font-weight: 400;
}
.length-realizado{
  font-size: 12px;
  font-weight: 400;
}
.length-enviadas{
  font-size: 12px;
  font-weight: 400;
}
.row{
  margin-right: 10px;
  width: 17px;
  height: 17px;
  cursor: pointer;
}
.texto-tarjetas-asignadas{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.title-tarjetas{
  margin-left: 10px;
  font-size: 26px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.text-tarjetas{
  margin-left: 10px;
  font-size: 26px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.text-envio-realizado{
  margin-left: 10px;
  font-size: 26px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.text-enviadas{
  margin-left: 10px;
  font-size: 26px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.boton-asignar{
  padding: 10px 22px;
  border: 1px solid red;
  color: red;
  font-weight: 700;
  background: transparent;
  border-radius: 22px;
  cursor: pointer;
  margin-bottom: 15px;
}
.container-tarjetas{
  border: 1px solid #D9D9D9;
  border-radius: 8px 8px 8px 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container-table{
  width: 100%;
  margin: 0 auto;
  text-align: left;
  border-collapse: collapse;
  font-size: 12px;
  font-weight: 400;
  margin-top: -10px;
}
.container-table td, th{
  border-bottom: 1px solid #D9D9D9;
  border-top: none;
  padding: 5px 10px 5px 10px;
}
.container-table-realizado{
  width: 100%;
  margin: 0 auto;
  text-align: left;
  border-collapse: collapse;
  font-size: 12px;
  font-weight: 400;
  margin-top: -10px;
}
.container-table-realizado td, th{
  border-bottom: 1px solid #D9D9D9;
  border-top: none;
  padding: 5px 10px 5px 10px;
}
.container-table-enviadas{
  width: 100%;
  margin: 0 auto;
  text-align: left;
  border-collapse: collapse;
  font-size: 12px;
  font-weight: 400;
  margin-top: -10px;
}
.container-table-enviadas td, th{
  border-bottom: 1px solid #D9D9D9;
  border-top: none;
  padding: 5px 10px 5px 10px;
}

.header{
  width: 15%;
}
.header-solicitud{
  width: 15%;
}
.header-enviadas{
  width: 15%;
}
.headers{
  width: 40%;
}
.headers-solicitud{
  width: 40%;
}
.headers-enviadas{
  width: 40%;
}
.icon{
  width: 5%;
}
.icon-realizado{
  width: 5%;
}
.icon-enviadas{
  width: 5%;
}
/*CHECKBOX*/
input[type = "checkbox"]{
  /*Quita el estilo del checkbox*/
  -webkit-appearance: none;
  cursor: pointer;

}
input[type = "checkbox"]:after{
  font-family: "Font Awesome 5 Free", Arial, Helvetica, sans-serif;
  font-weight: 400;
  content: "\f111";
  font-size: 14px;
  color: #63B468;
  margin-right: 5px;
}
input[type="checkbox"]:checked::after{
  font-weight: 900;
  content: "\f058";
  color: #63B468;
}
#center{
  vertical-align: middle;
  text-align: center;
}

/*ENVIO REALIZADO*/
.envio{
  width: 100%;
  background: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  margin-bottom: 10px;
}
.container-envio{
  border: 1px solid #D9D9D9;
  border-radius: 8px 8px 8px 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*ENVIADAS*/
.enviadas{
  width: 100%;
  background: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  margin-bottom: 10px;
}
.container-entregadas{
  border: 1px solid #D9D9D9;
  border-radius: 8px 8px 8px 8px;
  margin-top: 10px;
}
.entregadas{
  color: #63B468;
}
