$flame-font-family: "Flame-Icons" !default;
$flame-font-path: "/assets/fonts/icons" !default;

$sn-BAN001: "\e900";
$sn-BAN001B: "\e901";
$sn-BAN001C: "\e902";
$sn-BAN002: "\e903";
$sn-BAN002B: "\e904";
$sn-BAN002C: "\e905";
$sn-BAN003: "\e906";
$sn-BAN004: "\e907";
$sn-BAN004B: "\e908";
$sn-BAN004C: "\e909";
$sn-BAN005: "\e90a";
$sn-BAN006: "\e90b";
$sn-BAN007: "\e90c";
$sn-BAN008: "\e90d";
$sn-BAN008B: "\e90e";
$sn-BAN008C: "\e90f";
$sn-BAN009: "\e910";
$sn-BAN010: "\e911";
$sn-BAN011: "\e912";
$sn-BAN012: "\e913";
$sn-BAN013: "\e914";
$sn-BAN014: "\e915";
$sn-BAN015: "\e916";
$sn-BAN016: "\e917";
$sn-BAN017: "\e918";
$sn-BAN019: "\e919";
$sn-BAN020: "\e91a";
$sn-BAN021: "\e91b";
$sn-BAN023: "\e91c";
$sn-BAN024: "\e91d";
$sn-BAN024B: "\e91e";
$sn-BAN024C: "\e91f";
$sn-BAN026: "\e920";
$sn-BAN027: "\e921";
$sn-BAN028: "\e922";
$sn-BAN029: "\e923";
$sn-BAN034: "\e924";
$sn-BAN036: "\e925";
$sn-BAN037: "\e926";
$sn-BAN038: "\e927";
$sn-BAN039: "\e928";
$sn-BAN040: "\e929";
$sn-BAN041: "\e92a";
$sn-BAN042: "\e92b";
$sn-BAN042B: "\e92c";
$sn-BAN042C: "\e92d";
$sn-BAN043: "\e92e";
$sn-BAN044: "\e92f";
$sn-BAN045: "\e930";
$sn-BAN045B: "\e931";
$sn-BAN045C: "\e932";
$sn-BAN046: "\e933";
$sn-BAN046B: "\e934";
$sn-BAN046C: "\e935";
$sn-BAN047: "\e936";
$sn-BAN047B: "\e937";
$sn-BAN047C: "\e938";
$sn-BAN048: "\e939";
$sn-BAN048B: "\e93a";
$sn-BAN048C: "\e93b";
$sn-BAN049: "\e93c";
$sn-BAN050: "\e93d";
$sn-BAN053: "\e93e";
$sn-BAN053B: "\e93f";
$sn-BAN053C: "\e940";
$sn-BAN054: "\e941";
$sn-BAN054B: "\e942";
$sn-BAN054C: "\e943";
$sn-BAN055: "\e944";
$sn-BAN055B: "\e945";
$sn-BAN055C: "\e946";
$sn-BAN056: "\e947";
$sn-BAN057: "\e948";
$sn-BAN057B: "\e949";
$sn-BAN058: "\e94a";
$sn-BAN059: "\e94b";
$sn-BAN060: "\e94c";
$sn-BAN060B: "\e94d";
$sn-BAN060C: "\e94e";
$sn-BAN061: "\e94f";
$sn-BAN062: "\e950";
$sn-BAN062B: "\e951";
$sn-BAN062C: "\e952";
$sn-BAN063: "\e953";
$sn-BAN064: "\e954";
$sn-BAN065: "\e955";
$sn-BAN066: "\e956";
$sn-BAN066B: "\e957";
$sn-BAN066C: "\e958";
$sn-BAN067: "\e959";
$sn-BAN068: "\e95a";
$sn-BAN069: "\e95b";
$sn-BAN070: "\e95c";
$sn-BAN071: "\e95d";
$sn-BAN072: "\e95e";
$sn-BAN073: "\e95f";
$sn-BAN074: "\e960";
$sn-BAN075: "\e961";
$sn-BAN075B: "\e962";
$sn-BAN076: "\e963";
$sn-BAN076B: "\e964";
$sn-BAN076C: "\e965";
$sn-BAN077: "\e966";
$sn-BAN079: "\e967";
$sn-BAN080: "\e968";
$sn-BAN081: "\e969";
$sn-BAN082: "\e96a";
$sn-BAN083: "\e96b";
$sn-BAN086: "\e96c";
$sn-BAN087: "\e96d";
$sn-BAN088: "\e96e";
$sn-BAN089: "\e96f";
$sn-BAN090: "\e970";
$sn-BAN092: "\e971";
$sn-BAN093: "\e972";
$sn-BAN094: "\e973";
$sn-BAN095: "\e974";
$sn-BAN096: "\e975";
$sn-BAN097: "\e976";
$sn-BAN098: "\e977";
$sn-CHAN001: "\e978";
$sn-CHAN002: "\e979";
$sn-CHAN002B: "\e97a";
$sn-CHAN002C: "\e97b";
$sn-CHAN003: "\e97c";
$sn-CHAN004: "\e97d";
$sn-CHAN005B: "\e97e";
$sn-CHAN005C: "\e97f";
$sn-CHAN005D: "\e980";
$sn-CHAN006: "\e981";
$sn-CHAN007: "\e982";
$sn-CHAN008: "\e983";
$sn-CHAN010: "\e984";
$sn-CHAN011: "\e985";
$sn-CHAN012: "\e986";
$sn-CHAN013: "\e987";
$sn-CHAN014: "\e988";
$sn-CHAN015: "\e989";
$sn-CHAN016: "\e98a";
$sn-CHAN017: "\e98b";
$sn-CHAN018: "\e98c";
$sn-CHAN019: "\e98d";
$sn-CHAN020: "\e98e";
$sn-CHAN021: "\e98f";
$sn-CHAN022: "\e990";
$sn-CHAN023: "\e991";
$sn-CHAN024: "\e992";
$sn-CHAN025: "\e993";
$sn-CHAN026: "\e994";
$sn-CHAN027: "\e995";
$sn-CHAN028: "\e996";
$sn-CHAN029: "\e997";
$sn-CHAN030: "\e998";
$sn-CHAN031: "\e999";
$sn-CHAN032: "\e99a";
$sn-CHAN033: "\e99b";
$sn-CHAN034: "\e99c";
$sn-CHAN035: "\e99d";
$sn-CHAN036: "\e99e";
$sn-CHAN038: "\e99f";
$sn-CHAN040: "\e9a0";
$sn-CHAN041: "\e9a1";
$sn-CHAN042: "\e9a2";
$sn-CHAN043: "\e9a3";
$sn-CHAN044: "\e9a4";
$sn-CHAN045: "\e9a5";
$sn-DOC001: "\e9a6";
$sn-DOC002: "\e9a7";
$sn-DOC003: "\e9a8";
$sn-DOC004: "\e9a9";
$sn-DOC005: "\e9aa";
$sn-DOC005B: "\e9ab";
$sn-DOC005C: "\e9ac";
$sn-DOC006: "\e9ad";
$sn-DOC006B: "\e9ae";
$sn-DOC006C: "\e9af";
$sn-DOC007: "\e9b0";
$sn-DOC008: "\e9b1";
$sn-DOC008B: "\e9b2";
$sn-DOC008C: "\e9b3";
$sn-DOC009: "\e9b4";
$sn-DOC010: "\e9b5";
$sn-DOC010B: "\e9b6";
$sn-DOC010C: "\e9b7";
$sn-DOC011: "\e9b8";
$sn-DOC011B: "\e9b9";
$sn-DOC011C: "\e9ba";
$sn-DOC012: "\e9bb";
$sn-DOC013: "\e9bc";
$sn-DOC013B: "\e9bd";
$sn-DOC013C: "\e9be";
$sn-FUNC001: "\e9bf";
$sn-FUNC002: "\e9c0";
$sn-FUNC002B: "\e9c1";
$sn-FUNC002C: "\e9c2";
$sn-FUNC003: "\e9c3";
$sn-FUNC004: "\e9c4";
$sn-FUNC005: "\e9c5";
$sn-FUNC006: "\e9c6";
$sn-FUNC007: "\e9c7";
$sn-FUNC008: "\e9c8";
$sn-FUNC009: "\e9c9";
$sn-FUNC010: "\e9ca";
$sn-FUNC100: "\e9cb";
$sn-FUNC101: "\e9cc";
$sn-FUNC102: "\e9cd";
$sn-FUNC103: "\e9ce";
$sn-FUNC104: "\e9cf";
$sn-FUNC105: "\e9d0";
$sn-FUNC106: "\e9d1";
$sn-FUNC107: "\e9d2";
$sn-FUNC108: "\e9d3";
$sn-FUNC109: "\e9d4";
$sn-FUNC011: "\e9d5";
$sn-FUNC110: "\e9d6";
$sn-FUNC111: "\e9d7";
$sn-FUNC112: "\e9d8";
$sn-FUNC113: "\e9d9";
$sn-FUNC114: "\e9da";
$sn-FUNC115: "\e9db";
$sn-FUNC115B: "\e9dc";
$sn-FUNC115C: "\e9dd";
$sn-FUNC116: "\e9de";
$sn-FUNC118: "\e9df";
$sn-FUNC119: "\e9e0";
$sn-FUNC013: "\e9e1";
$sn-FUNC014: "\e9e2";
$sn-FUNC015: "\e9e3";
$sn-FUNC016: "\e9e4";
$sn-FUNC017: "\e9e5";
$sn-FUNC018: "\e9e6";
$sn-FUNC019: "\e9e7";
$sn-FUNC019B: "\e9e8";
$sn-FUNC019C: "\e9e9";
$sn-FUNC020: "\e9ea";
$sn-FUNC021: "\e9eb";
$sn-FUNC022: "\e9ec";
$sn-FUNC023: "\e9ed";
$sn-FUNC024: "\e9ee";
$sn-FUNC025: "\e9ef";
$sn-FUNC026: "\e9f0";
$sn-FUNC027: "\e9f1";
$sn-FUNC028: "\e9f2";
$sn-FUNC029: "\e9f3";
$sn-FUNC030: "\e9f4";
$sn-FUNC031: "\e9f5";
$sn-FUNC032: "\e9f6";
$sn-FUNC033: "\e9f7";
$sn-FUNC034: "\e9f8";
$sn-FUNC035: "\e9f9";
$sn-FUNC036: "\e9fa";
$sn-FUNC037: "\e9fb";
$sn-FUNC038: "\e9fc";
$sn-FUNC039: "\e9fd";
$sn-FUNC040: "\e9fe";
$sn-FUNC041: "\e9ff";
$sn-FUNC042: "\ea00";
$sn-FUNC043: "\ea01";
$sn-FUNC044: "\ea02";
$sn-FUNC045: "\ea03";
$sn-FUNC046: "\ea04";
$sn-FUNC047: "\ea05";
$sn-FUNC048: "\ea06";
$sn-FUNC049: "\ea07";
$sn-FUNC050: "\ea08";
$sn-FUNC051: "\ea09";
$sn-FUNC052: "\ea0a";
$sn-FUNC053: "\ea0b";
$sn-FUNC056: "\ea0c";
$sn-FUNC057: "\ea0d";
$sn-FUNC058: "\ea0e";
$sn-FUNC059: "\ea0f";
$sn-FUNC060: "\ea10";
$sn-FUNC061: "\ea11";
$sn-FUNC062: "\ea12";
$sn-FUNC063: "\ea13";
$sn-FUNC064: "\ea14";
$sn-FUNC065: "\ea15";
$sn-FUNC066: "\ea16";
$sn-FUNC067: "\ea17";
$sn-FUNC068: "\ea18";
$sn-FUNC069: "\ea19";
$sn-FUNC070: "\ea1a";
$sn-FUNC071: "\ea1b";
$sn-FUNC072: "\ea1c";
$sn-FUNC073: "\ea1d";
$sn-FUNC074: "\ea1e";
$sn-FUNC075: "\ea1f";
$sn-FUNC076: "\ea20";
$sn-FUNC077: "\ea21";
$sn-FUNC078: "\ea22";
$sn-FUNC079: "\ea23";
$sn-FUNC080: "\ea24";
$sn-FUNC082: "\ea25";
$sn-FUNC083: "\ea26";
$sn-FUNC084: "\ea27";
$sn-FUNC085: "\ea28";
$sn-FUNC086: "\ea29";
$sn-FUNC087: "\ea2a";
$sn-FUNC088: "\ea2b";
$sn-FUNC089: "\ea2c";
$sn-FUNC090: "\ea2d";
$sn-FUNC091: "\ea2e";
$sn-FUNC092: "\ea2f";
$sn-FUNC093: "\ea30";
$sn-FUNC094: "\ea31";
$sn-FUNC095: "\ea32";
$sn-FUNC096: "\ea33";
$sn-FUNC097: "\ea34";
$sn-FUNC098: "\ea35";
$sn-FUNC099: "\ea36";
$sn-SERV001: "\ea37";
$sn-SERV002: "\ea38";
$sn-SERV003: "\ea39";
$sn-SERV004: "\ea3a";
$sn-SERV005: "\ea3b";
$sn-SERV006: "\ea3c";
$sn-SERV007: "\ea3d";
$sn-SERV008: "\ea3e";
$sn-SERV009: "\ea3f";
$sn-SERV010: "\ea40";
$sn-SERV011: "\ea41";
$sn-SERV012: "\ea42";
$sn-SERV013: "\ea43";
$sn-SERV014: "\ea44";
$sn-SERV015: "\ea45";
$sn-SERV016: "\ea46";
$sn-SERV017: "\ea47";
$sn-SERV018: "\ea48";
$sn-SERV019: "\ea49";
$sn-SERV020: "\ea4a";
$sn-SERV021: "\ea4b";
$sn-SERV022: "\ea4c";
$sn-SERV023: "\ea4d";
$sn-SERV024: "\ea4e";
$sn-SERV025: "\ea4f";
$sn-SERV026: "\ea50";
$sn-SERV027: "\ea51";
$sn-SERV028: "\ea52";
$sn-SERV029: "\ea53";
$sn-SERV030: "\ea54";
$sn-SERV031: "\ea55";
$sn-SERV032: "\ea56";
$sn-SERV033: "\ea57";
$sn-SERV034: "\ea58";
$sn-SERV35: "\ea59";
$sn-SERV36: "\ea5a";
$sn-SERV037: "\ea5b";
$sn-SERV038: "\ea5c";
$sn-SERV039: "\ea5d";
$sn-SERV040: "\ea5e";
$sn-SERV041: "\ea5f";
$sn-SERV042: "\ea60";
$sn-SERV043: "\ea61";
$sn-SERV044: "\ea62";
$sn-SERV045: "\ea63";
$sn-SERV046: "\ea64";
$sn-SERV047: "\ea65";
$sn-SERV048: "\ea66";
$sn-SERV049: "\ea67";
$sn-SERV049B: "\ea68";
$sn-SERV050: "\ea69";
$sn-SERV051: "\ea6a";
$sn-SERV052: "\ea6b";
$sn-SERV053: "\ea6c";
$sn-SERV054: "\ea6d";
$sn-SERV055: "\ea6e";
$sn-SERV056A: "\ea6f";
$sn-SMOV001: "\ea70";
$sn-SMOV002: "\ea71";
$sn-SMOV003: "\ea72";
$sn-SMOV004: "\ea73";
$sn-SMOV005: "\ea74";
$sn-SMOV006: "\ea75";
$sn-SMOV007: "\ea76";
$sn-SMOV008: "\ea77";
$sn-SMOV009: "\ea78";
$sn-SMOV010: "\ea79";
$sn-SMOV011: "\ea7a";
$sn-SMOV012: "\ea7b";
$sn-SMOV013: "\ea7c";
$sn-SYS001: "\ea7d";
$sn-SYS002: "\ea7e";
$sn-SYS003: "\ea7f";
$sn-SYS004: "\ea80";
$sn-SYS005: "\ea81";
$sn-SYS006: "\ea82";
$sn-SYS007: "\ea83";
$sn-SYS008: "\ea84";
$sn-SYS009: "\ea85";
$sn-SYS010: "\ea86";
$sn-SYS011: "\ea87";
$sn-SYS012: "\ea88";
$sn-SYS014: "\ea89";
$sn-SMOV014: "\ea8a";
$sn-SMOV015: "\ea8b";
$sn-SMOV016: "\ea8c";
$sn-SMOV017: "\ea8d";
$sn-SMOV018: "\ea8e";
$sn-SMOV019: "\ea8f";
$sn-SMOV020: "\ea90";
$sn-SMOV021: "\ea91";
$sn-SMOV022: "\ea92";
$sn-SMOV023: "\ea93";
$sn-SMOV024: "\ea94";
$sn-SMOV025: "\ea95";
$sn-SMOV026: "\ea96";
$sn-SMOV027: "\ea97";
$sn-SMOV028: "\ea98";
$sn-SMOV029: "\ea99";
$sn-SMOV030: "\ea9a";
$sn-SMOV031: "\ea9b";
$sn-SMOV032: "\ea9c";
$sn-SMOV033: "\ea9d";
$sn-SMOV034: "\ea9e";
$sn-SYS015: "\ea9f";
$sn-SYS016: "\eaa0";
$sn-SYS017: "\eaa1";
$sn-SYS018: "\eaa2";
$sn-SYS019: "\eaa3";
$sn-SYS020: "\eaa4";
$sn-SYS021: "\eaa5";
$sn-SYS022: "\eaa6";
$sn-SYS023: "\eaa7";
$sn-SYS024: "\eaa8";
$sn-SYS025: "\eaa9";
$sn-SYS026: "\eaaa";
$sn-SYS027: "\eaab";
$sn-SYS028: "\eaac";
$sn-SYS029: "\eaad";
$sn-SYS030: "\eaae";
$sn-SPEC001: "\eaaf";
$sn-SERV056: "\eab0";
$sn-SERV057: "\eab1";
$sn-SERV059: "\eab2";
$sn-SERV060: "\eab3";
$sn-SERV061: "\eab4";
$sn-SERV062: "\eab5";
$sn-SERV063: "\eab6";
$sn-SERV064: "\eab7";
$sn-SERV065: "\eab8";
$sn-SERV066: "\eab9";
$sn-SERV067: "\eaba";
$sn-SERV068: "\eabb";
$sn-SERV069: "\eabc";
$sn-SERV070: "\eabd";
$sn-SERV071: "\eabe";
$sn-SERV072: "\eabf";
$sn-SERV073: "\eac0";
$sn-SERV074: "\eac1";
$sn-SERV075: "\eac2";
$sn-SERV076: "\eac3";
$sn-SERV077: "\eac4";
$sn-SERV078: "\eac5";
$sn-SERV079: "\eac6";
$sn-SERV080: "\eac7";
$sn-SERV081: "\eac8";
$sn-SERV082: "\eac9";
$sn-SERV083: "\eaca";
$sn-SERV084: "\eacb";
$sn-SERV085: "\eacc";
$sn-SERV086: "\eacd";
$sn-SERV087: "\eace";
$sn-SERV088: "\eacf";
$sn-SERV089: "\ead0";
$sn-SERV90: "\ead1";
$sn-SERV91: "\ead2";
$sn-SERV92: "\ead3";
$sn-SERV93: "\ead4";
$sn-SERV94: "\ead5";
$sn-SERV95: "\ead6";
$sn-SERV96: "\ead7";
$sn-SERV97: "\ead8";
$sn-SERV98: "\ead9";
$sn-SERV099: "\eada";
$sn-SERV100: "\eadb";
$sn-SERV100B: "\eadc";
$sn-SERV101: "\eadd";
$sn-SERV101B: "\eade";
$sn-SERV102: "\eadf";
$sn-SERV103: "\eae0";
$sn-SERV104: "\eae1";
$sn-SERV105: "\eae2";
$sn-SERV106: "\eae3";
$sn-SERV107: "\eae4";
$sn-SERV108: "\eae5";
$sn-SERV109: "\eae6";
$sn-SERV110: "\eae7";
$sn-SERV111: "\eae8";
$sn-SERV112: "\eae9";
$sn-SERV113: "\eaea";
$sn-SERV114: "\eaeb";
$sn-SERV115: "\eaec";
$sn-SERV116: "\eaed";
$sn-SERV117: "\eaee";
$sn-SERV118: "\eaef";
$sn-SERV119: "\eaf0";
$sn-SERV120: "\eaf1";
$sn-SERV121: "\eaf2";
$sn-SERV123: "\eaf3";
$sn-SERV124: "\eaf4";
$sn-SERV125: "\eaf5";
$sn-SERV126: "\eaf6";
$sn-SERV127: "\eaf7";
$sn-SERV128: "\eaf8";
$sn-SERV129: "\eaf9";
$sn-SERV130: "\eafa";
$sn-SERV131: "\eafb";
$sn-SERV132: "\eafc";
$sn-SERV133: "\eafd";
$sn-SERV134: "\eafe";
$sn-SERV135: "\eaff";
$sn-SERV136: "\eb00";
$sn-SERV137: "\eb01";
$sn-DOC014: "\eb02";
$sn-DOC015: "\eb03";
$sn-DOC016: "\eb04";
$sn-DOC017: "\eb05";
$sn-DOC018: "\eb06";
$sn-DOC019: "\eb07";
$sn-DOC020: "\eb08";
$sn-DOC021: "\eb09";
$sn-DOC022: "\eb0a";
$sn-DOC023: "\eb0b";
$sn-DOC024: "\eb0c";
$sn-DOC025: "\eb0d";
$sn-DOC026: "\eb0e";
$sn-DOC027: "\eb0f";
$sn-CHAN046: "\eb10";
$sn-CHAN047: "\eb11";
$sn-CHAN048: "\eb12";
$sn-CHAN049: "\eb13";
$sn-CHAN050: "\eb14";
$sn-CHAN051: "\eb15";
$sn-CHAN052: "\eb16";
$sn-CHAN053: "\eb17";
$sn-CHAN054: "\eb18";
$sn-CHAN055: "\eb19";
$sn-CHAN056: "\eb1a";
$sn-CHAN057: "\eb1b";
$sn-CHAN058: "\eb1c";
$sn-CHAN059: "\eb1d";
$sn-CHAN060: "\eb1e";
$sn-CHAN061: "\eb1f";
$sn-CHAN062: "\eb20";
$sn-CHAN063: "\eb21";
$sn-CHAN064: "\eb22";
$sn-CHAN065: "\eb23";
$sn-CHAN066: "\eb24";
$sn-CHAN067: "\eb25";
$sn-CHAN068: "\eb26";
$sn-CHAN069: "\eb27";
$sn-BAN099: "\eb28";
$sn-BAN100: "\eb29";
$sn-BAN101: "\eb2a";
$sn-BAN102: "\eb2b";
$sn-BAN103: "\eb2c";
$sn-BAN104: "\eb2d";
$sn-BAN104B: "\eb2e";
$sn-BAN104C: "\eb2f";
$sn-SMOV035: "\eb30";
$sn-SMOV036: "\eb31";
$sn-SMOV037: "\eb32";
$sn-SMOV038: "\eb33";
$sn-SMOV039: "\eb34";
$sn-SMOV040: "\eb35";
$sn-SMOV041: "\eb36";
$sn-FUNC026B: "\eb37";
$sn-FUNC080B: "\eb38";
$sn-FUNC009B: "\eb39";
$sn-FUNC009C: "\eb3a";
$sn-SEUL001: "\eb3c";
$sn-SEUL002: "\eb3d";
$sn-SEUL003: "\eb3e";
$sn-SEUL004: "\eb45";
$sn-SEUL005: "\eb46";
$sn-LOYA001: "\eb3b";
$sn-LOYA002: "\eb3f";
$sn-LOYA003: "\eb40";
$sn-LOYA004: "\eb41";
$sn-LOYA005: "\eb42";
$sn-LOYA006: "\eb43";
$sn-LOYA007: "\eb44";
$sn-LOYA008: "\eb47";
$sn-LOYA009: "\eb48";
$sn-SEUL006: "\eb49";
$sn-SEUL007: "\eb4a";
