/*AREAS*/

.box-areas{
  overflow-y: auto;
  width: 100%;
  cursor: pointer;

}
.cont_title{
  width: 100%;
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.cont_title p{
  font-size: 16px;
  font-weight: 700;

}
.search-area{
  width: 100%;
  position: relative;
  display: flex;
  padding: 8px 10px;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  margin-bottom: 5px;
}
.search-area:hover{
  border: 1px solid #F2F2F2;
  background: #F2F2F2;
}
#search_img{
  position: absolute;
  right: 0;
  cursor: pointer;
}
#search_img{
  margin-right: 7px;
}

#info-area {
  margin-left: 10px;
}
#info-area p{
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}
#info-area h2{
  font-size: 14px;
  font-weight: 700;
}
.selected{
  border: 1px solid #F2F2F2;
  background: #F2F2F2;
}
