
/*INFO POR AREA*/
.info-por-area{
  width: 100%;
  height: 100%;
}
.detalle-area{
  width: 100%;
  display: flex;
  align-items: center;
}
#cont-area{
  width: 100%;
}
#cont-area h3{
  font-size: 12px;
  font-weight: 400;
}
#cont-area p{
  font-size: 18px;
  font-weight: 700;
  padding: 17px 0px 17px 0px;
}
#info-card-area{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
#info-card-area img{
  width: 93px;
  height: 148.43px;
}
#description-card-area{
  width: 100%;
  margin-left: 10px;
  line-height: 12px;
}
#description-card-area p{
  font-size: 12px;
  font-weight: 400;
}
#description-card-area h1{
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
}
#description-card-area h3{
  font-size: 10px;
  font-weight: 400;
}

/*ACCIONES RÁPIDAS*/
.container-acciones-rapidas{
  width: 100%;
  height: 51%;
}
.container-acciones-rapidas .title-acciones{
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}
#acciones-rapidas{
  width: 100%;
  display: flex;
}
#exportar{
  width: 33.3%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  margin-left: 5px;
  cursor: pointer;
}
#solicitar{
  width: 33.3%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  margin-left: 5px;
  cursor: pointer;
}
.subtitle-acciones{
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  margin-top: 10px;
}
.acciones{
  width: 100%;
  display: flex;
  margin-top: 10px;
}
#asignar{
  width: 33.3%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  margin-left: 5px;
  cursor: pointer;
}
/*EDITRA CRÉDITO*/
.editar-credito{
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
}
#edit-credito{
  position: absolute;
  right: 0;
}
#edit-credito p{
  font-size: 14px;
  font-weight: 700;
  color: #ff0000;
  margin-right: 10px;
  cursor: pointer;
}
#limit{
  line-height: 19px;
}
#limit p{
  font-size: 16px;
  font-weight: 400;
}
#limit h2{
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}
.limite-credito{
  display: flex;
}
.mxn{
  margin-left: 5px;
}
.button-modificar{
  cursor: pointer;
  padding: 10px 12px;
  margin-right: 10px;
  background: transparent;
  border:1px solid #ff0000;
  color: #ff0000;
  font-size: 11.2px;
  font-weight: 700;
  border-radius: 20px;
}
.limite-editable:focus{
  outline: 1px solid #D9D9D9;
}
.error-mensaje{
  position: absolute;
  background-color: #D9D9D9;
  color: #000;
  padding: 8px;
  border-radius: 4px;
  top: -22px;
  left: 50px;
  transform: translateY(110%);
  z-index: 1;
  font-size: 8px;
}

/* Crear el piquito con ::before y ::after */
.error-mensaje::after {
  content: '';
  position: absolute;
  top: 92%;
  left: 50%;
  border-style: solid;
  border-width: 6px;
  margin-left: -6px;
  border-color: #D9D9D9 transparent transparent transparent;

  /* Ajusta para centrar correctamente */
}


.detalles-pago{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 0px;

}
.detalles-pago p{
  font-size: 16px;
  font-weight: 700;
}

/*SALDO DESCRIPTION*/
.datos-notarjeta{
  width: 100%;
  height: 100%;

}
#limite-credito{
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  margin-bottom: 15px;
}
#limite-credito p{
  font-size: 12px;
  font-weight: 400;
}
#limite-credito h2{
  font-size: 14px;
  font-weight: 700;
}
#saldo-disponible{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  border: 1px solid #D9D9D9;
  border-radius: 9px 9px 0px 0px;
  align-items: center;
  border-bottom: 0px;
}
#saldo-disponible p{
  font-size: 12px;
  font-weight: 400;
}
#saldo-disponible h2{
  font-size: 12px;
  font-weight: 700;
  color: #63B468;
  letter-spacing: 1px;
}
#saldo-gastado{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  border: 1px solid #D9D9D9;
  border-radius: 0px 0px 9px 9px;
  align-items: center;
  margin-bottom: 15px;
}
#saldo-gastado p{
  font-size: 12px;
  font-weight: 400;
}
#saldo-gastado h2{
  font-size: 12px;
  font-weight: 700;
  color: #ff0000;
  letter-spacing: 1px;
}
#saldo-gastado span{
  display: flex;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;

}

#fecha-limite{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  border: 1px solid #D9D9D9;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 0px;
  align-items: center;
}
#fecha-limite p{
  font-size: 12px;
  font-weight: 400;
}
#fecha-limite h2{
  font-size: 12px;
  font-weight: 700;
}

#fecha-corte{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  border: 1px solid #D9D9D9;
  border-bottom: 0px;
  border-top: 0px;
  align-items: center;
}
#fecha-corte p{
  font-size: 12px;
  font-weight: 400;
}
#fecha-corte h2{
  font-size: 12px;
  font-weight: 700;
}

#pago-minimo{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  border: 1px solid #D9D9D9;
  border-bottom: 0px;
  border-top: 0px;
  align-items: center;
}
#pago-minimo p{
  font-size: 12px;
  font-weight: 400;
}
#pago-minimo h2{
  font-size: 12px;
  font-weight: 700;
}

#linea-general{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  border: 1px solid #D9D9D9;
  border-bottom: 0px;
  border-radius: 5px 5px 0px 0px;
  align-items: center;
}
#linea-general p{
  font-size: 12px;
  font-weight: 400;
}
#linea-general h2{
  font-size: 12px;
  font-weight: 700;
}

#linea-asignada{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  border: 1px solid #D9D9D9;
  border-bottom: 0px;
  border-top: 0px;
  align-items: center;
}
#linea-asignada p{
  font-size: 12px;
  font-weight: 400;
}
#linea-asignada h2{
  font-size: 12px;
  font-weight: 700;
}

#linea-disponible{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  border: 1px solid #D9D9D9;
  border-radius: 0px 0px 5px 5px;
  border-top: 0px;
  align-items: center;
}
#linea-disponible p{
  font-size: 12px;
  font-weight: 400;
}
#linea-disponible h2{
  font-size: 12px;
  font-weight: 700;
}
/*USUARIOS AREA*/
.user-area{
  margin-top: 10px;
  width: 100%;
}
.user-area p{
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0 10px 0;
}

#form-user{
  width: 100%;
  max-height: 400px;
  border: 1px solid #dedddd;
  border-radius: 8px;
  overflow: auto;

}
 .primer-elemento{
  background-color: #eeecec;
}
#form-cont-users{
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  padding: 5px;
}
.border-bottom{
  border-bottom: 1px solid #D9D9D9;
}
#form-data{
  line-height: 18px;
}

#form-data p{
  font-size: 12px;
  font-weight: 700;
  padding: 0;
}
#form-data h2{
  font-size: 12px;
  font-weight: 400;
}
.row{
  cursor: pointer;
}
#cargarUsuarios{
  width: 100%;
  display: flex;
  justify-content: right;
  margin-top: 14em;


}
#cargarUsuarios p{
  font-size: 12px;
  font-weight: 700;
  color: #ff0000;
  padding: 10px 14px;
}
