.container-modal {
    width: 465px;
    height: 94%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.modal-content {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1.5px dashed #D9D9D9;
    border-spacing: 0.5px;
}

#head-edit {
    display: inline-flex;
    width: 100%
}

.title-modal {
    float: left;
    margin: 0 0 12px 8px;
}

.iconstant {
    float: left;
    width: 100%;
}

input{
    width: 100%;
    height: 45px;
    border: 0.5px solid #f1f1f1;
    background-color: transparent;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    &:focus {
      outline: none;
    }
}

.form-group {
    width: 100%;
    text-align: left;
}

.button-modificar{
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.colselect {
    min-width: 350px;
    position: relative;
  }
  
  select {
    -webkit-appearance: none;
    width: 100%;
    font-size: 1.15rem;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    color: #000;
    cursor: pointer;
    margin: 6px 5px;
    height: 45px;
  }

.colselect:before {
    content: "";
    position: absolute;
}

.colselect:after {
    content: "";
    position: absolute;
    right: 20px;
    top: 25px;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
    transform: rotate(-45deg) translate(50%, 0%);
    transform-origin: center center;
	transition: transform ease-in-out 100ms
}



