.container-scroll {
  width: 100%;
  height: 40em;
  overflow: scroll;
}
.container-asignadas {
  background-color: #ffffff;
  margin-top: 38px;
  border-radius: 15px 15px 15px 15px;
  padding: 20px;
}
.head-solicitar {
  display: flex;
  justify-content: space-between;
  margin-left: -5px;
}
.areas {
  overflow-y: auto;
  margin-top: 5px;
}
.show-area {
  width: 100%;
}
.areas::-webkit-scrollbar {
  width: 5px;

}
.areas::-webkit-scrollbar-thumb {
  background: transparent;
  height: 10px !important;
  border-radius: 8px;
}
.container-area {
  width: 100%;
}
.row {
  margin-right: 5px;
}
.area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #D9D9D9;
  padding: 3px 6px 3px 12px;
  border-radius: 8px;
}
.text-area h2 {
  font-size: 12px;
  font-weight: 700;
}
.text-area ul {
  list-style-type: none;
  padding-left: 12px;
}
.text-area li {
  list-style-type: none;
  font-size: 9px;
}
.text-area {
  align-items: center;
  cursor: pointer;
}
.subarea {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F2F2F2;
  padding: 10px 10px 3px 10px;
  border-top: 1px solid #D9D9D9;
}
.subarea ul {
  list-style-type: none;
}
#container-info {
  width: 100%;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
}
.subtitle {
  font-size: 20px;
  font-weight: 700;
  padding: 5px;
  margin-top: -10px;
  margin-bottom: 20px;
}
.numero {
  font-size: 12px;
  font-weight: 400;
  /*
  border: 1px solid #D9D9D9;
  background: #ffff;*/
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}
.espacio {
  font-size: 12px;
  font-weight: 400;
  margin-left: 3px;
  margin-right: 3px;
}
.length {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.length-sub {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 35px;
}
.text-sub {
  display: flex;
  align-items: center;
}
.text-subarea {
  display: flex;
  flex-direction: column;
}
.clasificacion {
  font-size: 12px;
  color: #595959;
  line-height: 20px;
}
.text-sub li{
  font-size: 9px;
  margin-top: -15px;
  color: #595959;
}
.nombre-sub {
  font-size: 12px;
  font-weight: 700;
  color: #595959;
  cursor: pointer;
}
.empleados-sub {
  margin-right: 5px;
}
.user-sub {
  margin-left: 33px;
}
.user-sub li {
  font-size: 9px;
  margin-top: 5px;
}
.count {
  display: flex;
  margin-right: 5px;
}
#conexiona {
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.show-border {
  border-left: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  border-radius: 0px 0px 8px 8px;
}
.contorno-area {
  border-radius: 8px 8px 0px 0px;
  border-bottom: 0px;
}
.contorno-subarea {
  border-radius: 0px 0px 0px 0px; /*Aplica el estilo solo a las primeras subarea*/
}
.last-subarea {
  border-radius: 0px 0px 8px 8px; /*Aplica el estilo a la última subarea*/
}
.border-empl{
border-top: 1px solid #D9D9D9;
}
#banca-comer {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 3px 3px 7px 12px;
  cursor: pointer;
}
#banca-comer:hover {
  background: #F2F2F2;
  color: #595959;
}
#banca-comer .user-sub ul {
  list-style-type: none;
}
.border-bottom {
  border-bottom: 0.2px solid #D9D9D9;
}
.text-user-area ul {
  padding: 0 0 0 10px;
  list-style-type: none;
}
.text-user-area li {
  list-style-type: none;
  font-size: 9px;
  margin-top: 5px;
}
.name {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  padding: 1.5px;
}
.content {
  font-size: 12px;
  font-weight: 400;
  line-height: 10px;
  padding: 1.5px;
}
.right {
  width: 17px;
  height: 17px;
  cursor: pointer;
}
.righta {
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin-right: 5px;
  /*flex-shrink: 0;*/
  }
.rotated {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}
.resaltar {
  text-decoration: underline;
}
.cargar-areas {
  padding: 10px 12px;
  background: #EC0000;
  color: #FFFF;
  border-radius: 22px;
  font-size: 12px;
  font-weight: 700;
}
.pagination-controls {
  display: flex;
  justify-content: right;
  margin-top: 30px;
}

::ng-deep .ngx-pagination .current {
  background: #000 !important;
  color: #FFFF !important;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
  padding: 4.5px 8px !important;
  cursor: pointer !important;
}
::ng-deep a {
  font-size: 12px;
}
::ng-deep .ngx-pagination a:hover {
  background: transparent !important;
}
::ng-deep .ngx-pagination .disabled {
  color: #D9D9D9 !important;
  cursor: not-allowed !important;
}

::ng-deep .ngx-pagination .pagination-previous.disabled::before {
  content: '<' !important;
  font-size: 20px;
}
::ng-deep .ngx-pagination .pagination-next.disabled::after {
  content: '>' !important;
  font-size: 20px;
}
::ng-deep .ngx-pagination .pagination-previous a::before {
  content: '<' !important;
  font-size: 20px;
}
::ng-deep .ngx-pagination .pagination-next a::after {
  content: '>' !important;
  font-size: 20px;
}
.container-button {
  display: flex;
  justify-content: space-between;

}
.cancel {
  border: 1px solid #EC0000;
  font-size: 12px;
  color: #EC0000;
  padding: 10px 22px;
  background: transparent;
  font-weight: 700;
  border-radius: 22px;
}
.next-enabled {
  background: #EC0000;
  color: #fff;
  padding: 10px 22px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 22px;
}
.next-disabled {
  background: #D9D9D9;
  color: #fff;
  padding: 10px 22px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 22px;
}
#solicitar {
  display: flex;
  align-items: center;
}
#solicitar .return {
  width: 22px;
  height: 22px;
}
#solicitar p {
font-size: 25px;
font-style: normal;
font-weight: 700;
margin-left: 5px;
}
.agregar-empleado {
  border: 1.4px solid #EC0000;
  border-radius: 22px;
  padding: 8px 15px;
  display: flex;
  cursor: pointer;
}
.agregar {
 margin-right: 5px;
 color: #EC0000;
 font-weight: 700;
 background: transparent;
 padding-left: 5px;
 cursor: pointer;
}

.identificar {
  width: 100%;
  margin-top: 10px;
  line-height: 25px;
  margin-bottom: 25px;
}
.identificar .check {
  font-size: 14px;
  font-weight: 400;
}
.identificar .empleados {
  font-size: 16px;
  font-weight: 700;
}

#search-box {
  width: 100%;
  height: 30px;
  border: 1px solid #dedddd;
  padding: 3px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}
#search-box label {
  width: 100%;
}
#search-box input {
  flex: 1;
  padding: 15px 10px;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 12px;
  width: 100%;
}
#search-box i {
  font-size: 12px;
  display: flex;
  align-items: center;
}
#search-box button {
  padding: 3px;
  border: 0;
  outline: 0;
  background: #F2F2F2;
  cursor: pointer;

}
#search-cont {
  width: 100%;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 95%;
}
.container {
  width: 100%;
  height: 550px;
  overflow:auto;
  display: flex;
  flex-direction: column;
  gap: .5em;
  margin-bottom: 15px;
}
.background {
  background: #b3b1b1;
}
.table-empleado {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  font-size: 12px;
  font-weight: 400;
}
.table-empleado td,th {
  padding: 5px;
  text-align: left;
}
.table-empleado th{
  border-top: none;
  padding: 10px;
}
/* #solicitar{
  display: flex;
  align-items: center;
}
#solicitar .return{
  width: 22px;
  height: 22px;
}
#solicitar p{
font-size: 25px;
font-style: normal;
font-weight: 700;
margin-left: 5px;
}
.agregar-empleado{
  border: 1.4px solid #EC0000;
  border-radius: 22px;
  padding: 8px 15px;
  display: flex;
  cursor: pointer;
}
.agregar{
 margin-right: 5px;
 color: #EC0000;
 font-weight: 700;
 background: transparent;
 padding-left: 5px;
 cursor: pointer;
}

.identificar{
  width: 100%;
  margin-top: 10px;
  line-height: 25px;
  margin-bottom: 25px;
}
.identificar .check{
  font-size: 14px;
  font-weight: 400;
}
.identificar .empleados{
  font-size: 16px;
  font-weight: 700;
}

#search-box{
  width: 100%;
  height: 30px;
  border: 1px solid #dedddd;
  padding: 3px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}
#search-box label{
  width: 100%;
}
#search-box input{
  flex: 1;
  padding: 15px 10px;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 12px;
  width: 100%;
}
#search-box i{
  font-size: 12px;
  display: flex;
  align-items: center;
}
#search-box button{
  padding: 3px;
  border: 0;
  outline: 0;
  background: #F2F2F2;
  cursor: pointer;

}
#search-cont{
  width: 100%;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 95%;
}
.container{
  width: 100%;
  height: 550px;
  overflow:auto;
  display: flex;
  flex-direction: column;
  gap: .5em;
  margin-bottom: 15px;
}
.background{
  background: #b3b1b1;
}
#container-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  width: 100%;
  border: 1px solid #D9D9D9;
  padding: 8px 12px;
}
#container-area .area{
  font-size: 14px;
  font-weight: 700;
}
.container-subareas{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
  border: 1px solid #D9D9D9;
  padding: 8px 12px;
  margin-top: 5px;
  background: #dedcdc;
}
.container-subareas #sub-nombre{
  font-size: 12px;
  font-weight: 700;
}
.container-empleado{
  border-radius: 0px 0px 8px 8px;
  border: 1px solid #D9D9D9;
}
#length{
  display: flex;
  align-items: center;
}
.numero{
  font-size: 12px;
  font-weight: 400;
}
.espacio{
  font-size: 12px;
  font-weight: 400;
  margin-left: 3px;
  margin-right: 3px;
}
#group{
  display: flex;
  text-align: center;
}
input[type = "checkbox"]{
  -webkit-appearance: none;
  cursor: pointer;

}
input[type = "checkbox"]:after{
  font-family: "Font Awesome 5 Free", Arial, Helvetica, sans-serif;
  font-weight: 400;
  content: "\f111";
  font-size: 14px;
  color: #63B468;
  margin-right: 5px;
}
input[type="checkbox"]:checked::after{
  font-weight: 900;
  content: "\f058";
  color: #63B468;
}
#center{
  vertical-align: middle;
  text-align: left;
}
.container-button{
  display: flex;
  justify-content: space-between;

}
.cancel{
  border: 1px solid #EC0000;
  font-size: 12px;
  color: #EC0000;
  padding: 10px 22px;
  background: transparent;
  font-weight: 700;
  border-radius: 22px;
}
.next-enabled{
  background: #EC0000;
  color: #fff;
  padding: 10px 22px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 22px;
}
.next-disabled{
  background: #D9D9D9;
  color: #fff;
  padding: 10px 22px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 22px;
} */


